<style>
    @keyframes rotateSlash {
        0% {
            transform: rotate3d(0, 1, 0, 0deg);
        }

        12.5% {
            transform: rotate3d(0, 1, 0, 360deg);
        }

        100% {
            transform: rotate3d(0, 1, 0, 360deg);
        }
    }

    .frame {
        position: absolute;
        z-index: -1;
        transform: translate(-32%, -16%);
        padding-top: 1rem;
        width: 8rem;
        height: 7rem;
    }

    .frame::before {
        content: '';
        position: absolute;
        top: 17px;
        left: -1rem;
        width: 6px;
        height: 6px;
        background: #111418;
    }

    .frame::after {
        content: '/';
        position: absolute;
        top: -1.5rem;
        left: -2px;
        font-size: 2.5rem;
        font-weight: 700;
        animation: rotateSlash 4800ms linear infinite;
    }

    .avatar {
        display: none;
        background-image: url("{{'assets/srh-portrait-bg.png' | relative_url}}");
        background-size: 128%;
        background-position: center top;
        background-repeat: no-repeat;
        height: 100%;
    }

    @media screen and (max-width: 1024px) {
        .frame {
            transform: translate(-72%, -32%);
            background-color: #e0e0e0;
            border: 1px solid rgb(184.0751046025, 192.2391213389, 203.9748953975);
        }

        .avatar {
            display: block;
        }
    }

    @media screen and (max-width: 767px) {
        .frame {
            position: static;
            transform: translate(0);
            margin-bottom: 2rem;
        }

        .frame::before {
            left: 6.75rem;
        }

        .frame::after {
            left: 7.5rem;
        }
    }
</style>

<div class="frame">
    <div class="avatar">

    </div>
</div>