<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-monogram"><a href="/">{% include icons/monogram.svg %}</a></div>
    <div class="columns">
      <div class="column">
        <div>
          <h3>{% if site.author %}{{ site.author | escape }}{% else %}{{ site.title | escape }}{% endif %}</h3>
          {% include sections/minima/social.html %}
        </div>
      </div>
      {% for group in site.data.navigation.footer %}
      <div class="column">
        <h3>{{ group.heading }}</h3>
        <ul class="footer-list">
          {% for link in group.links %}
          <li><a href="{{ link.url | relative_url }}">{{ link.text | escape }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
    <p>&copy;{{ site.time | date: '%Y' }}</p>
  </div>

</footer>