<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var options = {
            strings: ['a&nbsp;designer.', 'a&nbsp;programmer.', 'an&nbsp;entrepreneur.'],
            typeSpeed: 32,
            backDelay: 3200,
            backSpeed: 32,
            showCursor: false,
            loop: true
        };
        var typed = new Typed('#title', options);
    });
</script>
<!-- ***
END SCRIPTS
BEGIN STYLES
*** -->
<style type="text/css">
    .hero {
        background-color: #e8e8e8;
        background-image: url("{{ 'assets/srh-portrait-bg.png' | relative_url }}");
        background-position: -8vw bottom;
        background-size: 88vh;
        background-repeat: no-repeat;
        color: #0d0f12;
    }

    .wrapper {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .frame {
        display: none;
    }

    .copy {
        transform: translate(12.5%, -25%);
    }

    .heading {
        font-size: 2.5rem;
        line-height: 1.2;
    }

    .break {
        display: none;
    }

    .subheading {
        font-size: 1.25rem;
    }

    .col2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }

    @media screen and (max-width: 1200px) {
        .copy {
            max-width: 36rem;
            transform: translate(32%, -25%);
        }

        .heading {
            font-size: 2rem;
        }
    }

    @media screen and (max-width: 960px) {
        .hero {
            background-image: none;
        }

        .wrapper {
            align-items: center;
        }

        .frame {
            display: block;
        }

        .copy {
            transform: translate(8.5%, -12.5%);
        }
    }

    @media screen and (max-width: 767px) {
        .wrapper {
            justify-content: flex-start;
            padding-top: 4rem;
        }

        .copy {
            max-width: 100%;
            transform: translate(0);
        }

        .heading {
            height: 2em;
        }

        .break {
            display: block;
        }

        .col2 {
            display: block;
        }
    }
</style>
<!-- ***
END STYLES
BEGIN MARKUP
*** -->
<section class="hero">
    <div class="wrapper">
        <div class="copy">
            {% include avatar.html %}
            <h1 class="heading">Stedman Halliday is <br class="break" /><span id="title"></span></h1>
            <p class="subheading">I'm a technical generalist based in San Francisco creating values-aligned products,
                brands, media, and experiences.</p>
            <div class="col2">
                <div>
                    <h2 class="divider-thin">I am currently...</h2>
                    <p>planning an experimental 12-week apprenticeship to radically improve health and wellness.</p>
                </div>
                <div>
                    <h2 class="divider-thin">Let's connect.</h2>
                    <p>Email me, connect with me on LinkedIn, or follow me on X (Twitter).</p>
                </div>
            </div>
        </div>
    </div>
</section>