---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <p><a class="back-link" href="/blog">All posts</a></p>
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        <div class="post-meta">
            <div class="byline">
                <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                    {{ page.date | date: date_format }}
                </time>
                {% if page.author or site.author.name %}
                {% if page.author %}{% assign author = page.author %}
                {% elsif site.author.name %}{% assign author = site.author.name %}{% endif %}
                &ensp;•&ensp;&nbsp;<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                        class="p-author h-card" itemprop="name">{{ author | markdownify }}</span></span>
                {% endif %}
                {% assign words = content | count_words %}
                {% if words >= 500 %}
                &ensp;•&ensp;&nbsp;<span>{{ words }} words ({{ content | reading_time | pluralize: "min" }})</span>
                {% endif %}
            </div>
            {% if page.description %}
            <div class="post-summary">{{ page.description | markdownify }}</div>
            {% endif %}
            <ul class="post-tags">
                {% for tag in page.tags %}
                <li><a href="/blog/tag/{{ tag | slugify }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </header>

    <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
    </div>

    {% if site.disqus.shortname %}
    {% include sections/minima/disqus_comments.html %}
    {% endif %}
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

    <div class="divider-thin mt-200 mb-100"></div>
    <div class="page-navigation">
        <span>
            {% if page.next.url %}
            <a class="back-link" href="{{page.next.url}}">{{page.next.title}}</a>
            {% endif %}
        </span>
        <span>
            {% if page.previous.url %}
            <a class="next-link" href="{{page.previous.url}}">{{page.previous.title}}</a>
            {% endif %}
        </span>
    </div>
</article>