---
layout: default
---

<div class="blog">
    <p><a class="back-link" href="/blog">All posts</a></p>
    <h1 class="page-heading">Blog</h1>
    <h2 class="post-list-heading">Posts tagged "{{ page.title }}"</h2>
    <div class="divider-thin mt-100 mb-200"></div>
    {% if site.posts.size > 0 %}
    <ul class="post-list">
        {% for post in page.posts %}
        <li>
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            {% if site.show_excerpts %}
            {{ post.excerpt }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <p class="rss-subscribe mt-200">Subscribe <a href="{{ '/feed.xml' | relative_url }}">via RSS</a></p>
    {% else %}
    <h3>No posts found</h3>
    {% endif %}
</div>